/* Tile font */
@font-face {
    font-family: 'Slab';
    src: url('assets/fonts/RobotoSlab-VariableFont_wght.ttf')
}
/* Body font */
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf')
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    @keyframes anim-bouton {
        from {text-underline-offset: 6px;}
        to {text-underline-offset: 1px;}
    }


    .bouton-page {
        @apply transition duration-300 ease-in-out p-1 w-16 py-0 rounded-sm text-sm hover:bg-mverdydarkblue;
        
    }

    .animation-underline:hover {
        text-decoration: underline;
        text-underline-offset: 1px;
        animation-name: anim-bouton;
        animation-duration: 300ms;
    }

    .svg-icon {
        width: 1em;
        height: 1em;
    }

    .product {
        @apply transition-all duration-300 hover:shadow-black hover:shadow-lg flex flex-row w-5/6 h-28 shadow-2xl bg-transparent overflow-hidden rounded-xl
    }

    .image-product-container {
        @apply flex items-center justify-center w-72 h-28 bg-cover hover:cursor-pointer
    }
    
    .image-product-eye {
        @apply text-xl font-black transition-all duration-200 ease-in-out transform text-red-500 opacity-75 h-full w-full group-hover:scale-125
    }
    
    body {
        overscroll-behavior:none;
    }

    html {
        zoom: 250%
    }

    hr {
        width: 1px; 
        height: 1rem;
        border:none;
        border-left: 1px solid #eab308;
    }

}