/* Tile font */
@font-face {
    font-family: 'Slab';
    src: url('assets/fonts/RobotoSlab-VariableFont_wght.ttf')
}
/* Body font */
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf')
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    @keyframes anim-bouton {
        from {text-underline-offset: 16px;}
        to {text-underline-offset: 1px;}
    }

    @keyframes anim_fleche {
        from {transform: translate(-10%,0%);}
        50% {transform: translate(35%,0%);}
        to {transform: translate(-10%,0%);}
    }

    .animation_swipe_right {
        animation-name: anim_fleche;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(.07,1.13,.6,.9);
        animation-iteration-count: infinite;
    }

    .bouton-page {
        @apply transition duration-300 ease-in-out p-2 sm:w-[125%] md:w-44 py-0 text-4xl rounded-md hover:bg-mverdydarkblue text-center hover:cursor-pointer
        
    }

    .animation-underline {
        text-decoration: underline;
        text-underline-offset: 1px;
        animation-name: anim-bouton;
        animation-duration: 300ms;
    }

    .svg-icon {
        width: 1em;
        height: 1em;
    }

    .product {
        @apply transition-all duration-300 shadow-black shadow-md hover:shadow-black hover:shadow-xl flex flex-row w-5/6 h-72 bg-transparent overflow-hidden rounded-3xl
    }

    .image-product-container {
        @apply transition-all duration-[1200ms] ease-in-out flex items-center justify-center w-1/5 h-full bg-cover hover:cursor-pointer hover:scale-110
    }
    
    .image-product-eye {
        @apply font-black transition-all duration-[900ms]  text-red-500 opacity-50
        h-full w-full flex justify-center items-center transform scale-50 group-hover:scale-[.0]
    }
    
    body {
        overscroll-behavior:none;
    }


    hr {
        width: 1px; 
        height: 3rem;
        border:none;
        border-left: 2px solid #eab308;
    }

    .black-to-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(5deg) brightness(102%) contrast(102%);
    }

    .quest-container { 
        @apply h-fit w-5/6
    }

    .quest-label {
        @apply text-xl w-full
    }

    .quest-input {
        @apply border-b-2 outline-none w-full focus:border-b-blue-700 transition-all duration-1000 placeholder:opacity-50
    }

    .quest-input:valid { 
        @apply border-b-blue-700
    }

    .quest-input:invalid { 
        @apply border-b-red-500
    }

    textarea:valid {
        @apply border-blue-700 
    }

    textarea:invalid {
        @apply border-red-500 border-2
    }

    .required:after {
        content:" *";
        color: red;
        @apply text-sm
  }

    div::-webkit-scrollbar { 
        background-color: transparent;
        width: 8px;
    }

    div::-webkit-scrollbar-thumb {
        background-color: lightgrey;
        border-radius: 50px;
    }

    .preload * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
    }
}